{% extends "layout.html" %}

{% block mainContent %}
  <p>This is the about us page</p>
  <p>Meet our members!</p>
      <img src="http://theoffdutymime.files.wordpress.com/2012/01/whatchu_talkin_bout_willis.jpg" id="restless-paper-headshot">
      <p><span id="restless-paper">Wayne Motherfuckin Baylor</span></p>
      <img src="https://image.freepik.com/free-icon/man-dark-avatar_318-9118.jpg" id="restless-paper-headshot">
      <p><span id="restless-paper">Kaisi Li</span></p>
      <img src="https://image.freepik.com/free-icon/man-dark-avatar_318-9118.jpg" id="restless-paper-headshot">
      <p><span id="restless-paper">Kshitjh Meelu</span></p>
      <img src="https://image.freepik.com/free-icon/man-dark-avatar_318-9118.jpg" id="restless-paper-headshot">
      <p><span id="restless-paper">Freddy Zhang</span></p>
{% endblock %}
