{% extends "layout.html" %}

{% block mainContent %}
<div class="eventcreatebg">
<div class='pad'>
  {% if errors %}
    <div>
      <p>Please correct the following errors!</p>
      <ul class='form-errors'>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
<h3>Let Everyone Know Where To Be!</h3>
<div class="eventcreate">
  <form id="create-event" method="POST">
	  
  <label for="title">Event title:</label>
  <input type="text" class="form-control" name="title">
    
  <label for="location">Event location:</label>
  <input type="text" class="form-control" name="location">
    
  <label for="image">Event image:</label>
  <input type="text" class="form-control" name="image">
    
  <label for="year">Year:</label>
  <select class="form-control" name="year">
 	<option value='2015'>2015</option>
 	<option value='2016'>2016</option>
  </select>
    
  <label for="month">Month:</label>
	<select class="form-control" name="month">
    {% set i = 0 %}
    {% for month in months%}
      <option value='{{i}}'>{{month}}</option>
      {% set i = i+1 %}
    {% endfor %}
 	</select>    
 	
    <label for="day">Day:</label>
    <select class="form-control" name="day">
 		{% for i in range(1,32) -%}
      <option value='{{i}}'>{{i}}</option>
    {%- endfor %}
 	</select>    
    
  <label for="hour">Hour:</label>
  <select class="form-control" name="hour">
 		{% for i in range(0,24) -%}
      <option value='{{i}}'>{{i}}</option>
    {%- endfor %}
 	</select>   
    
    <label for="minute">Minute:</label>
    <select class="form-control" name="minute">
 		<option value='0'>0</option>
 		<option value='30'>30</option>
 	</select>  
    
    <br>
    <input type="submit" id="submit" class='btn btn-default'>
    
  </form>

</div>
</div>


  

</div>
{% endblock %}


