{% extends "layout.html" %}





{% block mainContent %}
  <div class='pad'>
  <img id='image' src='{{event.image}}' height='300px'>
    <h1 id='title'>{{event.title}}</h1>
    <span id='date'><time datetime="{{event.date}}">{{event.date|prettyDate}}</time></span><br>
    <span id='location'>{{event.location}}</span>


    <div class='don'>
    <a class="btn btn-primary donation" onclick='donate()' href='../donation/{{event.id}}'>donate</a>
    </div>
    Attendees:<ul id='attendees'>
		{% for attendee in event.attending %}
		<li>{{attendee}}</li>
		{% endfor %}
	</ul>
    <div class='txt'>To attend, please kindly RSVP here</div>
  


    
    <script src="//www.google-analytics.com/cx/api.js?experiment=1w3ySByyTF-C1oSKxm1kGA"></script>
    <!-- <script src="//www.google-analytics.com/cx/api.js?experiment=P0L76AekR_emgTlgNMbl0A"></script> -->
<!-- 	<script src="//www.google-analytics.com/cx/api.js?experiment=YZHKuf2nQbqALWZvbKUVtw"></script> -->

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	<script>
		var donate = function() {
			ga('send', {
				hitType: 'event',
				eventCategory: 'Donation',
				eventAction: 'clicked',
			});
		}
	</script>
	<script type="text/javascript" src="/js/DonateVariations.js"></script>


  {% if errors %}
    <div class="form-errors">
      <p>Please correct the following errors!</p>
      <ul class="form-errors">
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <form method="POST">
  	<div class="form-group" id="rsvp">
  		<!-- <label for="exampleInputEmail1">Email address</label> -->
		<input type="email" class="form-control" name="email" id="email" placeholder="Email">
  	</div>
  	<button type="Submit" class="btn btn-default" id="Submit">Submit</button>
  </form>
	  
	</div>

{% endblock %}

