{% extends "layout.html" %}

{% block mainContent %}
  <div>
    <b>{{event.title}}</b>.
    <time datetime="{{event.date}}">{{event.date|prettyDate}}</time>
    {{event.attending.length}} attending so far.
    <br>
    Attendees:<ul>
		{% for attendee in event.attending %}
		<li>{{attendee}}</li>
		{% endfor %}
	</ul>
  </div>

  <form method="post">
  	<div class="form-group" id="rsvp">
  		<!-- <label for="exampleInputEmail1">Email address</label> -->
		<input type="email" class="form-control" name="email" id="email" placeholder="Email">
  	</div>
  	<button type="Submit" class="btn btn-default" id="Submit">Submit</button>
	</form>
	  

{% endblock %}
