{% extends "layout.html" %}

{% block mainContent %}

<div class="jumbotron">
      <div class="container">
      <div class='push-spaces'>
        <h1 class='white'>{{title}}</h1>
        <p class='white'>{{tagline}}</p>
        <h2><a class="btn btn-primary btn-lg outline" href="/events/new" role="button" id='new'>Create a new event &raquo;</a> 
        	<a class="btn btn-primary btn-lg outline" href="/events/" role="button">See existing events &raquo;</a></h2>
      </div></div>
    </div>
    
    <div class="container">
    	<h2>Here are some upcoming events:</h2>
    	<br>
      {% include "fragments/events-list.html" %}
    </div>

{% endblock %}
