<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' />
  </head>

	
  {% block header %}

  {% endblock %}

  {% block mainContent %}

  {% endblock %}

  {% block footer %}
    <footer>
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>&copy; Freaking Awesome Company, Inc. &middot; <a href="/">Home</a> &middot; <a href="/about">About Us</a></p>
    </footer>
  {% endblock %}

  </body>
</html>