<script src="//www.google-analytics.com/cx/api.js?experiment=YFOzA6hsTZWFEwb_zJ5eKQ"></script>


<ul>
  {% for event in events %}
    <li class="event" id="event-{{event.id}}">
      <a href="/events/{{event.id}}" class='event-title'>{{event.title}}</a>.
      <time datetime="{{event.date}}">{{event.date|prettyDate}}</time>. 
      {{event.attending.length}} attending so far.
    </li>
  {% endfor %}
</ul>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src="/js/RSVPvariations.js"></script>


